{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid bg-1 text-center">
	<h1>Bienvenue</h1>
	<h4>Voici notre site qui parle des différentes fonctions qui se trouve dans la médecine, avec quelques statistiques.</h4>
	Si vous voulez apprendre à plus nous connaître n'hésiter pas à venir nous rendre visite au lycée Jean Vilar de la ville de Plaisir, dans les classes de BTS SIO option Slam car oui cette page a été codé.
	<br>Si vous voulez compléter cette page ou y rajouter des informations n'hésité pas et amuser vous avec le code car oui vous pouvez vous amusez avec le code, car vous êtes en SLAM.
	<br>Vous pouvez aussi jugé le code des pages qui se trouve sur ce site et permettre d'évaluer le niveau que j'ai, si vous êtes professeur ou peut être un rôle plus important, jugé moi.
</div>

{% endblock %}
