{% extends 'base.html.twig' %}

{% block body %}
   <div class="container">
  <h2>Liste des délégués</h2>
	   <p>Tous les délégués toutes régions
confondues</p>
  <table class="table table-hover">
	  <tr>
		  <td>
	  		{{ liste.role travailler }}
		  </td>
	  </tr>
	   </table>
{% endblock %}
