 {% extends 'GSBGestionStatistiqueBundle:Default:index.html.twig' %}
{% block menu %}
    <div>
        <ul>
            <li>Comptes-Rendus</li>
            <ul>
                <li><a href="formRAPPORT_VISITE.html" >Nouveaux</a></li>
                <li>Consulter</li>
            </ul>
            <li>Consulter</li>
            <ul>
                <li><a href="formMEDICAMENT.html" >Médicaments</a></li>
                <li><a href="formPRATICIEN.html" >Praticiens</a></li>
                <li><a href="formVISITEUR.html" >Autres visiteurs</a></li>
                <li><a href="formSTATISTIQUES.html">Statistiques</a></li>
            </ul>
            <li>Statistiques</li>
            <ul>
                <li><a href="#">Statistiques par région</a></li>
                <li><a href="#">Délégués</a></li>
                <li><a href="#">Statistiques par secteur</a></li>
            </ul>
        </ul>
    </div>
{% endblock %}
{% block body %}
<h1>coucou</h1>
{% endblock %}
