{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h2>Statistiques des régions</h2>
	<p>Nombre de visiteurs et de délégués par région distincte</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nombre de visiteurs</th>
                <th>Nombre de délégués</th>
                <th>Détail</th>
            </tr>
        </thead>
        <tbody>
            {% set inc = 0 %}
            {% for uneRegion in lesRegions %}
                <tr>
                    <td> {{ uneRegion.NomReg }} </td>
                    <td> {{ lesNombresDeVisiteurs[inc] }} </td>
                    <td> {{ lesNombresDeDelegues[inc] }} </td>
                    <td>
                        <a href="{{ path('affichageVisiteursRegion', { 'idReg': uneRegion.Id }) }}" class="btn btn-primary btn-md">Afficher la liste des visiteur de cette région <i class="fa fa-sign-in"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
