{% extends 'base.html.twig' %}

{% block body %}
   <div class="container">
  <h2>Statistiques par secteur</h2>
	   <p>Nombre de visiteurs par secteur</p>
       <table class="table table-hover">
    <thead>
      <tr>
        <th>Secteur</th>
        <th>Nombre de visiteurs</th>
      </tr>
    </thead>
    <tbody>
        {% set inc = 0 %}
        {% for unSecteur in lesSecteurs %}
      <tr>
        <td>{{ unSecteur.libelleSec }}</td>
        <td>12</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
