{% extends 'base.html.twig' %}

{% block body %}
   <div class="container">
  <h2>Statistiques par secteur</h2>
	   <p>Nombre de visiteurs par secteur</p>
       <table class="table table-hover">
    <thead>
      <tr>
        <th>Secteur</th>
        <th>Nombre de visiteurs</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>DTOM Asie - Afrique</td>
        <td>12</td>
      </tr>
      <tr>
        <td>DTOM Caraïbes - Amériques</td>
        <td>15</td>
      </tr>
      <tr>
        <td>Est</td>
        <td>6</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
